.body{
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}


/* Form Styles */
.formBox{
  width: 50vw;
  height: 30vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.inputBox{
  padding: 10px;
  font-size: 16px;
  font-family: inherit;
  background: transparent;
  border: 2px solid #000;
  border-radius: 4px;
}

#font{
  padding: 3vh;
}

.submitBtn, .btnPlay, .btnDisplay, .homeButton{
  margin: 3vh 0;
  font-size: 16px;
  font-family: inherit;
  padding: 10px 12px;
  border: 2px solid #000;
  border-radius: 5px;
  background: transparent;
  transition: 0.2s ease-in-out;
}

.submitBtn:hover{
  background: #000;
  color: #fff;
}

.btnPlay:hover{
  background: #000;
  color: #fff;
}

.loseBox{
  width: 80vw;
  height: 25vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.loseBox > .btnPlay{
  margin: 0;  
}


/* History Styles */
.historyBox{
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.scroller{
  width: 50vw;
  height: 75vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.playerData{
  width: 50vw;
  height: 25vh;
  background: #ddd;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#link{
  padding: 2vh 0;
}

.btnDisplay{
  margin: 1vh 0;
}

.btnDisplay:hover{
  background: #000;
  color: #fff;
}

@media screen and (max-width: 768px){
  .scroller{
    width: 85vw;
  }

  .playerData{
    width: 85vw;
  }
}



/* Home Styles */
.homeButton{
  width: 200px;
  height: 60px;
  cursor: pointer;
}

.homeButton:hover{
  background: #000;
  color: #fff;
}



/* About Styles */
.about{
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}



/* ID Styles */
.topData{
  width: 100vw;
  height: 22vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bottomData{
  width: 100vw;
  height: 20vh;
  text-align: center;
}